* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: white;
}

/* --------------------------------------------------------------- */

img{
    width: 100%;
  }

body {
    background-color: black;
}

.main-content {
    max-width: 1024px;
    margin: 0 auto;
    min-height: 90vh;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    gap: 12px 5px;
    flex-wrap: wrap;
}

.profile-pic {
    max-width: 150px;
    position: relative;
}

.profile-name {

    font-size: 1em;
    color: white;
    background-color: rgba(220, 220, 220, 0.5);
    position: absolute;
    padding: 2px;
    left: 0;
    bottom: 5px;
    font-size: 8px;
}

/* --------------------------------------------------------------- */

